################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleApplication/FileContentIndex/bd2af7e2-80a3-4f5d-94ee-c3a11de32450.vsidx
/WebApplication1/.vs/WebApplication1/FileContentIndex
